<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723740159840-q35holdmobjer3m8a3d8pribk31dkk3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723740159840-q35holdmobjer3m8a3d8pribk31dkk3p</string>
	<key>API_KEY</key>
	<string>AIzaSyAw1v7QtiNwbDTGhnO_9sI4BJmfwuppav4</string>
	<key>GCM_SENDER_ID</key>
	<string>723740159840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MIT.Xplore</string>
	<key>PROJECT_ID</key>
	<string>xplore-9e7fb</string>
	<key>STORAGE_BUCKET</key>
	<string>xplore-9e7fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723740159840:ios:b65219a40c8ae43c</string>
	<key>DATABASE_URL</key>
	<string>https://xplore-9e7fb.firebaseio.com</string>
</dict>
</plist>